 <!-- Rendering our content inside of the base.html template -->
 {% extends 'base.html' %}

{% block title %}Message Detail{% endblock %}

{% block content %} <!-- Where the content will be placed in the base.html -->
<!-- Cross-site request forgery protection functionality is available because our function in views.py returns a render method -->
{% csrf_token %}

<!-- Place messages bodys in template in unordered list -->

<content>
    <p class="msgMessages">
        Messages<br><br>
    </p>
    <ul>
        {% for item in messages %}
        <li>
            <p>
                Date received: {{ item.DateSent}}
            </p>
            <p>
                {{ item.MessageBody }}
            </p>
        </li>
        {% endfor %}
    </ul>
</content>

    {% endblock %}