{% load static from staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        {% include "partials/navbar.html" %}
        
        <main>

            {% block content %}



            {% endblock %}

        </main>
    </body>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>