{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}

<header class="header-title">
	<div style="margin-right:15px;">
		<img src="/media/logo/tta1.PNG">
	</div>
	<div style="padding-top:15px;">
		<h2>The Tech Academy Forum</h2>
	</div>
</header>

{% endblock %}
 

{% block content %}

<div class="subject-head">
	<h3>Recent posts</h3>
</div>

{% for thread in threads %}

	<div class="auto-post">
		<div class="lcol">
			<p>📄</p>
			<p>last active: {{ thread.DateUpdate }}</p>
		</div>
		<div class="rcol">
			<a href="{% url 'Forum:thread' thread.id %}">{{ thread.ThreadTitle }}</a>
		</div>
			
	</div>

{% endfor %}

{% endblock %}
