
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class=thread-container>
        
    {% include "forum/thread_header.html" %}

    <div class="post-comments">
        <hr style="height: 6px;background: url(http://ibrahimjabbari.com/english/images/hr-11.png)repeat-x 0 0;border: 0; margin:20px 0px 20px 0px">
        
        {% include "forum/comment_section.html" %}

    </div>
    <div class="leave-comment">
        <hr style="height: 6px;background: url(http://ibrahimjabbari.com/english/images/hr-11.png)repeat-x 0 0;border: 0; margin:20px 0px 20px 0px">
        
        {% include "forum/comment.html" %}

    </div>
</div>

{% block extra_javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript'>
  $("#upvotes").click(function(){
    var threadID;
    threadID = $(this).attr("data-threadID");
    $.get('{% url "Forum:upvote" thread.id %}', function(data){
      $('#upvote_count').html(data);
    });
  });

  </script>
  {% endblock extra_javascript %}

{% endblock %}
