{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='main'>
<h1>Add Friend</h1>
<div class='friend-search'>
    <form method="POST" action="{% url 'Forum:friend_status' user.id %}" enctype="multipart/form-data" class="update_friend_status">
        {% csrf_token %}
        <input type="text" name="friend_name" id="id_input" />
        <div id="suggestion_container" style="position: absolute;">
        </div>
        <button type="submit" name="add_friend">Add Friend</button>
    </form>
</div>

<hr>

<h1>Friends List</h1>
{% for person in friends %}
  <div>
    <form method="POST" action="{% url 'Forum:friend_status' person.id %}" class="update_friend_status">
      {% csrf_token %}
      {% if user.username == person.SendingUser.username %}
      <p>{{ person.ReceivingUser.username }}</p>
      {% else %}
      <p>{{ person.SendingUser.username }}</p>
      {% endif %}
      <button type="submit" name="delete_friend">Delete Friend</button>
    </form>
  </div>
{% endfor %}

<hr>

<h1>Approve/Decline Incoming Friend Requests</h1>
{% for person in unconfirmed_friends %}
  <div>
    <form method="POST" action="{% url 'Forum:friend_status' person.id %}" class="update_friend_status">
      {% csrf_token %}
      {% if user.username == person.ReceivingUser.username %}
      <p>{{ person.SendingUser.username }}</p>
      <button type="submit" name="confirm_friend">Add Friend</button>
      <button type="submit" name="delete_friend">Delete Friend Request</button>
      {% endif %}
    </form>
  </div>
{% endfor %}

<hr>

<h1>Pending Friend Request</h1>
{% for person in unconfirmed_friends %}
  <div>
    <form method="POST" action="{% url 'Forum:friend_status' person.id %}" class="update_friend_status">
      {% csrf_token %}
      {% if user.username == person.SendingUser.username %}
      <p>{{ person.ReceivingUser.username }}</p>
      <button type="submit" name="delete_friend">Delete Friend Request</button>
      {% endif %}
    </form>
  </div>
{% endfor %}
</div>

<script
			  src="http://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
jQuery(function() {
    $("#id_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'Forum:ajax_autocomplete' %}",
            data: {
              'search': value
            },
            dataType: 'json',
            success: function (data) {
                list = data.list;
                $("#id_input").autocomplete({
                source: list,
                minLength: 3,
                appendTo: '#suggestion_container'

                });
            }
        });
    });
  });
</script>
{% endblock %}
